body {
    font-family: sans-serif;
    background-color: #555;
    margin: 30px;
    padding: 0;
}

nav {
    position: fixed;
    width: 250px;   /* storlek på vår nav bar */
    height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column; /* konfiguerar så att elementen startar från toppen o staplas ned */
    align-items: center; /* centrerar våra flikar */
    border: 3px solid #222; /* sätter en fin kant runt vår navbar */
    border-radius: 10px; /*kanterna runt vår navbar blir runda */
}

nav a {
    color: #aaaaaa; /*färgen på vår text*/
    font-size:large;
    text-decoration: none; /* ser till så flikarna inte är upplagda med något*/
    display: flex;
    align-items: center;
}

nav a .material-symbols-outlined {
    margin-right: 10px ;
}

nav ul {
    list-style-type: none; /* tar bort punktmarkeringen vid flikarna */
    padding: 0px;
}

nav ul li {
    margin: 30px; /* avstånd mellan flikarna */
}

nav a:hover {
    color: hsl(280, 60%, 40%)  /*färg när markören är över flikarna*/
}

.portrait{
    max-width: 150px;
    height: auto;
    border: 3px solid #222;
    border-radius: 10px;
    margin: 40px 0;
    display: block;
}

main {
    font-family: sans-serif;
    background-color: #c9c9c9;
    padding: 20px;
    margin-left: 250px;
    height: 100vh;

}

#contact-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #333;
    color: #fff;
    border-radius: 10px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #555;
    border-radius: 10px;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: hsl(280, 60%, 40%);
}